<div layout="column">
	<md-card ng-repeat="err in serverErrors" class="md-warn">
		<md-card-content>
			<p>Error: {{ err }}</p>
		</md-card-content>
	</md-card>
</div>

<form name="editMemberForm" layout="column">
	<md-input-container>
		<label>First name</label>
		<input ng-model="member.firstName">
	</md-input-container>

  <md-input-container>
    <label>Last name</label>
    <input ng-model="member.lastName">
  </md-input-container>
</form>


<div layout="row" layout-xs="column" ng-if="!isLoading">
	<div flex layout="column">
		<md-button class="md-raised" ng-click="submit()" aria-label="update">
			<span ng-if="!isNew">Save</span>
			<span ng-if="isNew">Create</span>
		</md-button>
	</div>
	<div flex layout="column" ng-if="!isNew" >
		<md-button class="md-raised md-warn" ng-click="delete()">
			Delete
		</md-button>
	</div>
</div>

<div ng-if="isLoading" layout layout-align="space-around">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
