<md-list>
	<md-list-item ng-repeat="member in members" ng-click="goTo('/members/' + member.id)">
		<p>{{ member.firstName + ' ' + member.lastName }}</p>
	</md-list-item>
</md-list>


<md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-scale">
  <md-fab-trigger>
    <md-button aria-label="creation options" class="md-fab md-primary">
      <md-icon>&#xE145;</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="create new member" href="/members/add" class="md-fab md-raised md-mini">
      <md-icon>&#xE7FE;</md-icon>
    </md-button>
    <md-button aria-label="bulk create members" href="/members/bulkAdd" class="md-fab md-raised md-mini">
      <md-icon>&#xE7F0;</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>

<!-- Person add: &#xE7FE; -->
<!-- Group add: &#xE7F0; -->
<!-- Plus add: &#xE145; -->
<!-- More vert: &#xE5D4; -->
