<div layout="column">
	<md-card ng-repeat="err in serverErrors" class="md-warn">
		<md-card-content>
			<p>Error: {{ err }}</p>
		</md-card-content>
	</md-card>
</div>

<form name="editTeamForm" layout="column">
	<md-input-container>
		<label>Name</label>
		<input type="text" ng-model="competition.name">
	</md-input-container>
	<md-input-container>
		<label>Entry Fee</label>
		<input type="number" step="0.01" ng-model="competition.entryFee">
	</md-input-container>
	<md-input-container>
		<label>Crossover Fee</label>
		<input type="number" step="0.01" ng-model="competition.crossoverFee">
	</md-input-container>
</form>


<autocomplete-list ng-model="competition.teams" items="allTeams" item-text="item.name" placeholder="Search teams"></autocomplete-list>


<div layout="row" layout-xs="column" ng-if="!isLoading">
	<div flex layout="column">
		<md-button class="md-raised" ng-click="submit()" aria-label="update">
			<span ng-if="!isNew">Save</span>
			<span ng-if="isNew">Create</span>
		</md-button>
	</div>
	<div flex layout="column" ng-if="!isNew" >
		<md-button class="md-raised md-warn" ng-click="delete()">
			Delete
		</md-button>
	</div>
</div>

<div ng-if="isLoading" layout layout-align="space-around">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
