<form name="bulkAddMemberForm" layout="column">
	<md-input-container>
		<label>Members</label>
		<textarea ng-model="csvString" name="csvString" required ng-pattern="/^.+,.+$/m"></textarea>
    <div class="hint">
      Enter the member's first and last name seperated by a comma.
      Multiple members should be seperated by a line break.
    </div>
    <div ng-messages="bulkAddMemberForm.csvString.$error">
      <div ng-message="required">Cannot be empty</div>
      <div ng-message="pattern">Your data is not formatted correctly. Make sure it is in the form: member_first_name,member_last_name</div>
    </div>
	</md-input-container>
</form>

<div layout="row" layout-xs="column" ng-if="!isLoading">
	<div flex layout="column">
		<md-button class="md-raised" ng-click="submit()" aria-label="bulk create">
			<span>Create</span>
		</md-button>
	</div>
</div>

<div ng-if="isLoading" layout layout-align="space-around">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
