<md-list>
	<md-list-item ng-repeat="team in teams" ng-click="goTo('/teams/' + team.id)">
		<p>{{ team.name }}</p>

		<!-- Chevron -->
		<!-- <md-icon ng-if="!editable">&#xE5CC;</md-icon> -->
		<!-- Pencil -->
		<!-- <md-icon class="md-secondary" ng-if="canEdit" ng-click="goTo('/teams/' + team.id + '/edit')" aria-label="edit">&#xE254;</md-icon> -->
	</md-list-item>
</md-list>

<md-button class="md-primary md-fab md-fab-bottom-right" href="/teams/add" aria-label="create new team">
	<md-icon>&#xE145;</md-icon>
</md-button>
