<md-list>
  <md-subheader>Details</md-subheader>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>{{ competition.name }}</h3>
      <p>Name</p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>{{ competition.entryFee }}</h3>
      <p>Entry Fee</p>
    </div>
  </md-list-item>
	<md-list-item class="md-2-line">
		<div class="md-list-item-text">
			<h3>{{ competition.entryFee }}</h3>
			<p>Crossover Fee</p>
		</div>
	</md-list-item>


	<md-subheader>Teams</md-subheader>
	<md-list-item ng-repeat="team in competition.teams">
		<p>{{ team.name }}</p>
	</md-list-item>
</md-list>

<md-button class="md-primary md-fab md-fab-bottom-right" ng-href="/competitions/{{ competition.id }}/edit" aria-label="edit competition">
	<md-icon>&#xE254;</md-icon>
</md-button>
