<md-list class="competition-summary">
  <md-subheader>
    <div class="flex-container">
      <span class="name">Competitions</span>
      <span class="members">Entries</span>
      <span class="crossover">Crossovers</span>
      <span class="total">Total</span>
    </div>
  </md-subheader>
  <md-list-item ng-repeat="comp in competitions">
    <p class="name">{{ comp.name }}</p>
    <span class="members">{{ comp.members.length }}</span>
    <span class="crossover">{{ comp.crossoverCount }}</span>
    <span class="total">${{ comp.totalCost }}</span>
  </md-list-item>

  <!-- Totals -->
  <md-subheader>
    <div class="flex-container">
      <span class="overall-total">Total Cost</span>
      <span class="overall-total-value">${{ totalCost }}</span>
    </div>
  </md-subheader>
</md-list>
