.competition-summary {
  .flex-container {
    display: flex;
    // margin: 0 -16px;

    span {
      padding: 0 20px;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .name {
    flex: 50;
  }

  .members,
  .crossover,
  .total {
    flex: 10;
    text-align: right;
  }

  .overall-total {
    flex: 90;
  }

  .overall-total-value {
    flex: 10;
    text-align: right;
  }
}


hr {
  margin: 40px;
}
