<md-list>
  <md-subheader>Details</md-subheader>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>{{ member.firstName }}</h3>
      <p>First name</p>
    </div>
  </md-list-item>

  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>{{ member.lastName }}</h3>
      <p>Last name</p>
    </div>
  </md-list-item>
</md-list>


<md-button class="md-primary md-fab md-fab-bottom-right" ng-href="/members/{{ member.id }}/edit" aria-label="Edit member">
	<md-icon>&#xE254;</md-icon>
</md-button>
