<md-list>
	<md-list-item ng-repeat="competition in competitions" ng-click="goTo('/competitions/' + competition.id)">
		<p>{{ competition.name }}</p>
	</md-list-item>
</md-list>

<md-button class="md-primary md-fab md-fab-bottom-right" href="/competitions/add" aria-label="create new competition">
	<md-icon>&#xE145;</md-icon>
</md-button>
