<md-list>
  <md-subheader class="md-no-sticky">Your Teams</md-subheader>
  <md-list-item ng-repeat="team in teamsList">
    <p>{{ team.name }}</p>
  </md-list-item>

  <md-subheader class="md-no-sticky">Your Trainings</md-subheader>
  <md-list-item ng-repeat="training in trainingsList">
    <p>{{ training.name }}</p>
    <span class="md-secondary">
      {{ training.required ? 'Required' : 'Optional' }}
    </span>
  </md-list-item>

  <md-subheader class="md-no-sticky">Your Payments</md-subheader>
  <md-list-item ng-repeat="payment in paymentsList">
    <p>{{ payment.name }}</p>
    <span class="md-secondary">
      {{ payment.required ? 'Required' : 'Optional' }}
    </span>
  </md-list-item>
</md-list>
