<md-list>
	<md-subheader>Details</md-subheader>
	<md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>{{ team.name }}</h3>
      <p>Name</p>
    </div>
  </md-list-item>

	<md-subheader class="md-headline">Members</md-subheader>
	<md-list-item ng-repeat="member in team.members">
		<p>{{ member.firstName + ' ' + member.lastName }}</p>
	</md-list-item>
</md-list>

<md-button class="md-primary md-fab md-fab-bottom-right" ng-href="/teams/{{ team.id }}/edit" aria-label="Edit team">
	<md-icon>&#xE254;</md-icon>
</md-button>
