// Needed!!!
// Used to expand the loading panel to fill the entire screen when the app is first loading
.obfuscate {
	position: fixed;
	background-color: white;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100000;
}

// The - on the training detail page between the start and finish times
.duration-spacer {
	margin: 0 10px;
}

// Used by the multi-select directive
// Remove excess margins from select element placed inside a md-list-item
md-list-item > md-select {
	margin: 0 0 6px;
}

// Used by the multi-select directive
// Adds some space between the select and 'x' button in the list
md-list-item > md-select + md-icon {
	margin-left: 15px;
}

.multi-select-secondary-button {
	min-width: 0;
}

.nav {
	padding: 0;
	margin: 0;

	li {
		border-bottom: 1px solid #E0E0E0;
	}

	.md-button {
		margin: 0;
		padding: 0 25px;
		display: block;
		text-align: left;
		max-height: 40px;
		line-height: 40px;
		width: 100%;
	}
}

.md-subheader {
	background-color: #EEE;
}
