<!DOCTYPE html>
<html ng-app="cheerManager" ng-controller="uiCtrl" ng-strict-di>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">

		<title ng-bind="title.value()">Swinburne Cheer</title>


		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!--====  Styles  ====-->

		<!-- Angular Font Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Other styles -->
		<link rel="stylesheet" type="text/css" href="./bundle.css">
		<link rel="stylesheet" type="text/css" href="./cheerManager.css">
		<link rel="stylesheet" type="text/css" href="./cheerManager.css.map">
	</head>
	<body layout="column">
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->


		<!--=============================
		=            Content            =
		==============================-->
		<md-toolbar layout="row">
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleSidenav()" ng-if="shouldSidenavToggleBeVisible()" class="md-icon-button">
					<md-icon aria-label="menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
					</md-icon>
				</md-button>

				<h1 ng-bind="title.value()"></h1>
			</div>
		</md-toolbar>

		<div layout="row" flex>
			<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="shouldSidenavBeLocked()">
				<ul class="nav">
				  <li ng-repeat="item in sidenav.getMenuItems()">
				    <md-button ng-click="sidenav.navigateTo(item.path)">{{ item.title }}</md-button>
				  </li>
				</ul>
			</md-sidenav>

			<div layout="column" flex id="content">
				<md-content layout="column" flex class="md-padding" layout-fill>
					<!-- Loading Display -->
					<div ng-if="stateChanging" ng-class="{'obfuscate': !appLoaded}" layout="column" layout-align="space-around" flex>
						<div layout layout-align="space-around">
							<md-progress-circular md-mode="indeterminate"></md-progress-circular>
						</div>
					</div>

					<div ng-if="stateError" layout="column">
						<h1>Looks like an error occurred</h1>
						<p ng-if="errorMessage.length > 0">{{ errorMessage }}</p>
					</div>

					<div ui-view ng-if="!stateChanging && !stateError"></div>
				</md-content>
			</div>
		</div>
		<!--====  End of Content  ====-->



		<!--====  Scripts  ====-->
		<script src="./bundle.js"></script>

		<!-- @if NODE_ENV='production' -->
			<script src="./cheerManager.min.js"></script>
			<!-- <script src="./cheerManager.min.js.map"></script> -->
		<!-- @endif-->

		<!-- @if NODE_ENV='development' -->
			<script src="./cheerManager.js"></script>
			<!-- <script src="./cheerManager.js.map"></script> -->
		<!-- @endif -->
	</body>
</html>
